html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg-blue {
  background-color: #00f;
}

.bg-green {
  background-color: #0f0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}